body {
    text-align: center;
}

.logo-header {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Maintain top margin */
    padding-bottom: 20px; /* Add padding at the bottom before selectors */
}

.logo-header img {
    width: 80px; /* Further reduce the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

#selectors {
    margin-bottom:5px; /* Reduced margin */
}

.visualizations {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px; /* Reduced margin */
}

.visualization {
    margin: 2px; /* Reduced margin */
}

#tooltip {
    position: absolute;
    display: none;
    padding: 5px; /* Reduced padding */
    background: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

#radar_chart, #stat_progression_container {
    height: 200px; /* Reduced height */
}

#shot_container {
    height: 550px; /* Adjusted height for better fit */
}

