body {
    text-align: center;
}

#selectors {
    margin-bottom: 10px; /* Reduced margin */
}

.visualizations {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px; /* Reduced margin */
}

.visualization {
    margin: 5px; /* Reduced margin */
}

#tooltip {
    position: absolute;
    display: none;
    padding: 5px; /* Reduced padding */
    background: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

#radar_chart, #stat_progression_container {
    height: 250px; /* Reduced height */
}

#shot_container {
    height: 550px; /* Adjusted height for better fit */
}

